<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title align="center">SignUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
  	<ion-label floating>Contact</ion-label>
  	<ion-input type="number"></ion-input>
  </ion-item>
  <br>
  <ion-item>
  <ion-label>Country</ion-label>
  <ion-select [(ngModel)]="country">
  <ion-option value="Male">Nepal</ion-option>
  <ion-option value="Female">USA</ion-option>
  </ion-select>

  </ion-item>
  <ion-item>
  	<ion-label floating>Age</ion-label>
  	<ion-input type="number"></ion-input>
  </ion-item>
  
  <br>
  <button ion-button full>Register</button>
  <p align="center">
  <button [navPush]="homepage" ion-button clear >Cancel</button>
</p>
</ion-list>



</ion-content>
