<ion-header>
  <ion-navbar>
    <ion-title align="center">
     Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  
  <br>
  <button ion-button full>Login</button>
  
  <button [navPush]="aboutpage" ion-button full>SignUp</button>
  <p align="center">
  <button ion-button clear (click)="doAlert()">About</button>
  </p>

</ion-list>
</ion-content>
